Library
Build
Temp

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Assembly-CSharp-firstpass.pidb

.DS_Store

Assembly-CSharp.pidb

Src.userprefs

obj/Release/DesignTimeResolveAssemblyReferencesInput.cache


bin
*.suo
*.pidb
*.csproj
*.unityproj
*.sln
*.userprefs
